//- VIEW TEMPLATE FOR THE ADD TRACK ROUTE
//- FINAL ASSIGNMENT NYCDA

extends layout

block content
  
  .container
    
    .article
      h1="Are you a pathfinder in the Dordogne?"
      h3= "If you think other trackers will like your path to" 
      h3.highlight <i class="fas fa-map-signs"></i>   walk ...</h3>
      h3.highlight <i class="fas fa-compass"></i>   hike ...</h3>
      h3.highlight <i class="fas fa-bicycle"></i>   bike ...</h3>
      h3= "then create it here to show it on this website!"
      
    .sidebar
      .box
        h1.boxHeader= "Check out the coolest tracks!"
        h3="In Pathfinder you find unique tracks. Click here to find out more."
        p.boxList
          a(href="/tracks")
            <i class="fas fa-compass"></i>                      Go to the tracks</h3>
        p.boxList
          a(href="/map")
            <i class="fas fa-flag-checkered"></i>                     Go to the map</h3>
      .box
        h1.boxHeader= "Bonjour! I am Laura"
        p="I am a newbie webdeveloper and made this website as a final assignment for the Web Dev Course from the New York Coding and Design Academy."
        figure.sidebarPicture
          img(src="images/fotobiking.jpg")
        div.socialmediaButton
          a(href="https://www.facebook.com/laurawille77" class="fa fa-facebook")
          a(href="https://www.linkedin.com/in/laurawille" class="fa fa-linkedin")
          a(href="https://github.com/Laudylau" class="fa fa-github")

    .article
      h1="Fill in these fields and create your track!"
      form.addTrackForm(method="post" action="/addtrack")  
        .label
          | Trackname:
        input.inputField(type="text" name="track_name" placeholder="Type a short title for this track" size="80")
        br
        .label
          | Place:
        input(type="text" name="place_name" placeholder="In whick village or city did you start the track?" size="80")
        .label
          | Region:
        input(type="text" name="region_name" placeholder="What is the region of this track?" size="80")
        .label
          | Starting point:
        input(type="text" name="start_point_name" placeholder="Where did you start the track, fo example the name of a chateau of a restaurant." size="80")
        .label
          | Starting point latitude:
        input(type="text" name="start_lat" placeholder="What is the latitude of the starting point" size="80")
        .label
          | Starting point longitude:
        input(type="text" name="start_long" placeholder="What is the longitude of the starting point" size="80")        
        .label
          | Website of the starting point:
        input(type="text" name="start_website" placeholder="Type url here, if the starting point has a website" size="80")       
        .label
          | Tracktype:  
        input(type="text" name="track_type" placeholder="For example a walk, hike or bike?" size="80")
        .label
          | Tracklength:  
        input(type="text" name="track_length_km" placeholder="How many kilometers is the track, f.e. 8 km" size="80")
        .label
          | Estimated hours: 
        input(type="text" name="track_length_time" placeholder="Fill in the estimated time to complete this track, f.e. 6 hours" size="80")
        .label
          | Tracklevel: 
        input(type="text" name="track_level" placeholder="For example easy, medium or hard." size="80")
        .label
          | Introtext: 
        textarea(type="text" name="intro" placeholder="Write a short introtext for the track" cols="73" rows="4")
        .label
          | Trackdescription: 
        textarea(type="text" name="description" placeholder="Write a short description of the track here" cols="73" rows="4")
        .label
          | Link an image:
        input(type="text" name="image_link" placeholder="Add a picture with a URL to the track." size="80")
        .label
          | Create your track NOW!
        input(type="submit" name="submit" placeholder="Create your track!")
            
      
        
block scripts
