extends layout

block content
  
  .container
    
    .article
      h1= "With Pathfinder you explore unknown Dordogne tracks!"
      h3= "Find cool paths to ..." 
      h3.highlight <i class="fas fa-map-signs"></i>   walk ...</h3>
      h3.highlight <i class="fas fa-compass"></i>   hike ...</h3>
      h3.highlight <i class="fas fa-bicycle"></i>   bike ...</h3>
      h3= "and read the reviews and tips of other people!"
    
    .sidebar
      .box
        h1.boxHeader= "Check out the coolest tracks!"
        h3="In Pathfinder you find unique tracks. Click here to find out more."
        p.boxList
          a(href="/tracks")
            <i class="fas fa-compass"></i>                      Go to the tracks</h3>
        p.boxList
          a(href="/map")
            <i class="fas fa-flag-checkered"></i>                     Go to the map</h3>
      .box
        h1.boxHeader= "Bonjour! I am Laura"
        p="I am a newbie webdeveloper and made this website in march 2018 as a final assignment for the Web Dev Course from the New York Coding and Design Academy."
        figure.sidebarPicture
          img(src="images/fotobiking.jpg")
        div.socialmediaButton
          a(href="https://www.facebook.com/laurawille77" class="fa fa-facebook")
          a(href="https://www.linkedin.com/in/laurawille" class="fa fa-linkedin")
          a(href="https://github.com/Laudylau" class="fa fa-github")
  
    .article
      h1= "Here are some pictures of the tracks"
      .row
        .column
          img(src="images/fotobiking.jpg" style="width:100%")
          img(src="images/fotobiking.jpg" style="width:100%")
          img(src="images/fotobiking.jpg" style="width:100%")
        .column
          img(src="images/fotobiking.jpg" style="width:100%")
          img(src="images/fotobiking.jpg" style="width:100%")
          img(src="images/fotobiking.jpg" style="width:100%")
        .column
          img(src="images/fotobiking.jpg" style="width:100%")
          img(src="images/fotobiking.jpg" style="width:100%")
          img(src="images/fotobiking.jpg" style="width:100%")
