extends layout

block content
  
  section.mainPart
    .mainTextTracks  
      h1#titleTrackspage="Thousands of track kilometers and amazing views ... get your Dordogne experience here!"
      h2#textTrackspage="Biking of hiking in the Dordogne is a nice experience. The environment is so divers, that we dare to say that each track is unique! There is something for everybody: kids, sporters, easy walkers and rough types that wanna get dirty... So check out these tracks, put on your hiking shoes or jump on your bike. And *important* have fun! "
      a(href='/') 
        | Back to the home page &raquo;

    .divTracks
      each track in tracks
      
        .postblock
          h4#trackname=track.track_name
          .tags
            span#trackType=track.track_type
            span#placeName=track.place_name
            span#trackKm=track.track_length_km
          br
          img(src = track.image_link)
          p#trackintro=track.intro
          a(href= `/tracks/${track.id}`) 
            | Read More &raquo;
          br
          br
  
  //- section.asideInfo
  //-   p#asideTitle="hello"
