//- VIEW TEMPLATE FOR THE ALL TRACKS ROUTE
//- FINAL ASSIGNMENT NYCDA

extends layout

block content
  
  .container
    
    .article
      .mainTextTracks  
        h1="Thousands of track kilometers ... GO!"
        h3="Biking or hiking in the Dordogne is a real experience. With super divers envirenmonts and amazing views, each track is unique! There is something for everybody: kids, sporters, easy walkers and rough types that wanna get dirty... So check out these tracks, put on your hiking shoes or jump on your bike."
        h3.highlight <i class="far fa-heart"></i>   and *important* HAVE FUN</h3>

    .sidebar
      .box
        h1.boxHeader= "Check out the coolest tracks!"
        h3="In Pathfinder you find unique tracks. Click here to find out more."
        p.boxList
          a(href="/map")
            <i class="fas fa-flag-checkered"></i>                     go to the map</h3>
        p.boxList
          a(href="/")
            <i class="fas fa-home"></i>                      back to homepage</h3>

      .box
        h1.boxHeader= "Bonjour! I am Laura"
        p="I am a newbie webdeveloper and made this website as a final assignment for the Web Dev Course from the New York Coding and Design Academy."
        figure
          img(src="images/fotobiking.jpg")
        div.socialmediaButton
          a(href="https://www.facebook.com/laurawille77" class="fa fa-facebook")
          a(href="https://www.linkedin.com/in/laurawille" class="fa fa-linkedin")
          a(href="https://github.com/Laudylau" class="fa fa-github")

    .article
      
      each track in tracks
        
        .postblock
          h4#trackname=track.track_name
          .tags
            span#trackType=track.track_type
            span#placeName=track.place_name
            span#trackKm=track.track_length_km
          img(src = track.image_link)
          br
          .trackLink
            a(href= `/tracks/${track.id}`) 
              | Read More &raquo;
          br
