extends layout

block content
  
  #map

  h1#trackTitle_OneTrack= track.track_name
  .tags
    span#trackType=track.track_type
    span#regionName=track.region_name
    span#placeName=track.place_name
    span#trackKm=track.track_length_km
    span#trackTime=track.track_length_time
    span#trackLevel=track.track_level
  
  section.trackInfo
    article
      figure
        img(src = track.image_link)
      p#trackIntro= track.intro
      p#trackDescription= track.description
      a(href='/tracks') 
          | Back to all tracks &raquo;

  section.showReviews
    h1#reviewTitlebar="Check out here reviews of other hikers and bikers!"
    each review in reviews
      .reviewUnique
        .spanReviews
          span#datePosted=review.date_posted
        p#reviewText=review.review_text
        p#reviewStar=review.review_star
          | Rating (1=Horrible --- 5=Amazing!!: )
  
  div.form_comment
    h3.form_comment_title
      | ------- How did you like this track? --------
    form(method="post" action=`/tracks/${trackID}`) 
      div.starRating
        | Rate the track!
        input(type="radio" id="star1" name="rating" value="1")
        input(type="radio" id="star2" name="rating" value="2")
        input(type="radio" id="star3" name="rating" value="3")
        input(type="radio" id="star4" name="rating" value="4") 
        input(type="radio" id="star5" name="rating" value="5") 
      div.comment
        textarea(type="text" id="commentText" name="review_text" placeholder="Your feedback here" cols="45" rows="8")
        br
        input(type="text" id="commentAuthor" placeholder="Name" size="50")
        input(type="email" id="commentAuthorMail" placeholder="E-mail" size="50")
        br
        input(type="submit" name="submit" placeholder="Submit")
        br
        

        
        
block scripts

  script(type="text/javascript").
    const maps = !{JSON.stringify(maps)};

  script(src='/scripts/single-map.js' async defer)
  script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyB4GRRyCuOb5nvrXsCMtmfgaHzv2ogfRdQ&callback=initMap` async defer)
